.aside {
  background-color: #000;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-right: 0;
}

.aside-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #121212;
  border-radius: 5px;
}

.aside-content > h2 {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
  padding: 20px;
}

.aside-content > hr {
  border: 1px solid #1db954;
  width: 100%;
}

.nav > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

.nav > ul > li {
  width: 100%;
}

.nav > ul > li > a {
  text-decoration: none;
}

.top-link {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
}

.top-link:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

.current-nav {
  color: #1ed760;
}

.top-link > svg {
  font-size: 2.4rem;
}

.top-link > span {
  font-size: 1.4rem;
}

@media screen and (min-width: 1367px) {
  .aside-content > h2 {
    font-size: 4rem;
  }

  .top-link > span {
    font-size: 1.5rem;
  }

  .top-link > svg {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
  .aside-content > h2 {
    font-size: 3.9rem;
  }

  .top-link > span {
    font-size: 1.4rem;
  }

  .top-link > svg {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .aside-content > h2 {
    font-size: 3.3rem;
  }

  .top-link > span {
    font-size: 1.2rem;
  }

  .top-link > svg {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 841px) and (max-width: 1023px) {
  .aside-content > h2 {
    font-size: 2.4rem;
  }

  .top-link > span {
    font-size: 1rem;
  }

  .top-link > svg {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 840px) {
  .aside {
    z-index: 50;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    justify-content: center;
    padding: 0;
    padding-top: 5px;
  }

  .aside-content > h2 {
    display: none;
  }

  .aside-content > hr {
    display: none;
  }

  .nav > ul {
    flex-direction: row;
  }

  .nav > ul > li {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav > ul > li > div {
    width: 100%;
    height: 75px;
  }

  div > .top-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  div > .top-link > svg {
    font-size: 1.8rem;
  }

  div > .top-link > span {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 480px) {
  div > .top-link > span {
    font-size: 0.7rem;
  }
}
