.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 30px 0;
  padding: 0 30px;
  margin-bottom: 30px;
}

.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}

.itemShow {
  border: 1px solid #1db954;
}

.itemShow:hover {
  border: 1px solid #1db954;
}

.data {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  padding: 30px;
}

.item > span {
  width: 80%;
  padding: 0px 30px 30px 30px;
  font-size: 1.3rem;
  color: #c3c3c3;
}

.shown {
  border: 1px solid #1db954;
}

.button-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.button-title > button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: black;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.button-title > button > svg {
  color: #1db954;
  font-size: 5rem;
}

.button-title > button > svg:hover {
  font-size: 5.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.button-title > h3 {
  font-size: 2rem;
  color: #c3c3c3;
  display: flex;
  flex-direction: column;
}

.experience-date {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1db954;
  margin-bottom: 0.5em;
}

.img-circle {
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.img-circle > svg {
  font-size: 3rem;
  color: #dadada;
}

@media screen and (min-width: 1440px) {
  .list {
    width: 90%;
  }

  .button-title > h3 {
    font-size: 2rem;
  }

  .experience-date {
    font-size: 1.5rem;
  }

  .button-title > button {
    width: 50px;
    height: 50px;
  }

  .button-title > button > svg {
    font-size: 5rem;
  }

  .button-title > button > svg:hover {
    transform: scale(1.01);
    cursor: pointer;
    transition: 0.2s;
  }

  .item > span {
    width: 90%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
  .data {
    padding: 20px 30px 20px 20px;
  }

  .button-title > h3 {
    font-size: 1.5rem;
  }

  .button-title > button {
    width: 40px;
    height: 40px;
  }

  .button-title > button > svg {
    font-size: 4rem;
  }

  .button-title > button > svg:hover {
    font-size: 4.5rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .item > span {
    width: 90%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .data {
    padding: 20px 30px 20px 20px;
  }

  .button-title > h3 {
    font-size: 1.5rem;
  }

  .button-title > button {
    width: 40px;
    height: 40px;
  }

  .button-title > button > svg {
    font-size: 4rem;
  }

  .button-title > button > svg:hover {
    font-size: 4.5rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .item > span {
    width: 90%;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 841px) and (max-width: 1023px) {
  .data {
    padding: 20px 30px 20px 20px;
  }

  .button-title > h3 {
    font-size: 1.5rem;
  }
  .button-title > button {
    width: 40px;
    height: 40px;
  }

  .button-title > button > svg {
    font-size: 4rem;
  }

  .button-title > button > svg:hover {
    font-size: 4.5rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .item > span {
    width: 90%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 840px) {
  .data {
    padding: 20px 50px 20px 20px;
  }

  .button-title > h3 {
    font-size: 1.5rem;
  }

  .experience-date {
    font-size: 1rem;
  }

  .experience-date {
    font-size: 1.2rem;
  }

  .button-title > button {
    width: 40px;
    height: 40px;
  }

  .button-title > button > svg {
    font-size: 4rem;
  }

  .button-title > button > svg:hover {
    font-size: 4.5rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .item > span {
    width: 100%;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .data {
    padding: 20px 20px 20px 20px;
  }

  .button-title > h3 {
    font-size: 1rem;
  }

  .experience-date {
    font-size: 0.8rem;
  }

  .button-title > button {
    width: 30px;
    height: 30px;
  }

  .button-title > button > svg {
    font-size: 3rem;
  }

  .button-title > button > svg:hover {
    font-size: 3.5rem;
  }

  .item > span {
    width: 100%;
    font-size: 1rem;
  }
}
