.project {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.goButtons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.goBack-button {
  position: relative;
  top: 20px;
  left: 20px;
  display: grid;
  place-items: center;
  text-decoration: none;
  background-color: rgba(61, 61, 61);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.goBack-button:hover {
  background-color: rgba(61, 61, 61, 0.8);
  cursor: pointer;
}

.disabled-button {
  background-color: rgba(61, 61, 61, 0.5);
  pointer-events: none;
}
.goBack-button > svg {
  color: #f3f4f3;
  font-size: 2.5rem;
}

.img-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 40px 40px 0 40px;
  gap: 20px;
}

.project img {
  max-width: 400px;
  max-height: 300px;
  border-radius: 10px;
}

.title-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.title-links > h3 {
  color: #ffffff;
  font-size: 6rem;
  font-weight: 600;
  margin: 0;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 40px;
  gap: 20px;
}

.skills-container > h3 {
  color: #c3c3c3;
  font-size: 2rem;
  font-weight: 400;
}

.skills-container > hr {
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #1db954,
    rgba(0, 0, 0, 0)
  );
}

.skills-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

.skills-list > ul > li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px 20px;
  background-color: #161616;
  border-radius: 10px;
}

.skill:hover {
  background-color: #272727;
}

.react:hover {
  background-color: #61dafb;
}

.html:hover {
  background-color: #e34c26;
}

.css:hover {
  background-color: #264de4;
}

.javascript:hover {
  background-color: #f7df1e;
}

.bootstrap:hover {
  background-color: #563d7c;
}

.firebase:hover {
  background-color: #ffca28;
}

.dotnet:hover {
  background-color: #5c2d91;
}

.mysql:hover {
  background-color: #4479a1;
}

.skill p {
  color: #c3c3c3;
  font-size: 1.5rem;
  font-weight: 400;
}

.skill:hover > p {
  color: black;
  font-weight: 900;
}

.links-containers {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.links-containers > a > svg {
  color: #1db95480;
  font-size: 4rem;
  transition: all 0.2s ease-in;
}

.links-containers > a > svg:hover {
  color: #1db954;
  cursor: pointer;
}

@media screen and (min-width: 1201px) and (max-width: 1439px){
  .goBack-button {
    width: 45px;
    height: 45px;
  }

  .goBack-button > svg {
    font-size: 2.5rem;
  }

  .project img {
    max-width: 300px;
    max-height: 225px;
  }

  .title-links > h3 {
    font-size: 3rem;
  }

  .links-containers > a > svg {
    font-size: 3rem;
  }

  .skills-container > hr {
    width: 100%;
  }

  .skills-list {
    width: 100%;
  }

  .skill p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .goBack-button {
    width: 40px;
    height: 40px;
  }

  .goBack-button > svg {
    font-size: 2rem;
  }

  .project img {
    max-width: 300px;
    max-height: 200px;
  }

  .title-links > h3 {
    font-size: 3rem;
  }

  .links-containers > a > svg {
    font-size: 3rem;
  }

  .skills-container > hr {
    width: 100%;
  }

  .skills-list {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .goBack-button {
    width: 35px;
    height: 35px;
  }

  .goBack-button > svg {
    font-size: 2rem;
  }

  .project img {
    max-width: 250px;
    max-height: 125px;
  }

  .title-links > h3 {
    font-size: 2rem;
  }

  .links-containers > a > svg {
    font-size: 2rem;
  }

  .skills-container > h3 {
    font-size: 1.5rem;
  }

  .skills-container > hr {
    width: 100%;
  }

  .skills-list {
    width: 100%;
  }

  .skill p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .goBack-button {
    width: 40px;
    height: 40px;
  }

  .goBack-button > svg {
    font-size: 1.5rem;
  }

  .img-title-container {
    flex-direction: column;
  }

  .project img {
    max-width: 400px;
    max-height: 250px;
  }

  .title-links {
    justify-content: center;
    align-items: center;
  }

  .links-containers {
    gap: 50px;
  }

  .title-links > h3 {
    font-size: 4rem;
  }

  .links-containers > a > svg {
    font-size: 4rem;
  }

  .skills-container > h3 {
    font-size: 1.3rem;
  }

  .skills-container > hr {
    width: 100%;
  }

  .skills-list {
    width: 100%;
  }

  .skill p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .goBack-button {
    width: 35px;
    height: 35px;
  }

  .goBack-button > svg {
    font-size: 1.5rem;
  }

  .img-title-container {
    flex-direction: column;
  }

  .project img {
    max-width: 300px;
    max-height: 200px;
  }

  .title-links {
    justify-content: center;
    align-items: center;
  }

  .links-containers {
    gap: 50px;
  }

  .title-links > h3 {
    font-size: 2.5rem;
  }

  .links-containers > a > svg {
    font-size: 3rem;
  }

  .skills-container > h3 {
    font-size: 1.3rem;
  }

  .skills-container > hr {
    width: 100%;
  }

  .skills-list {
    width: 100%;
  }

  .skill p {
    font-size: 1.2rem;
  }
}
