.top-container {
  position: relative;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(18, 18, 18, 1) 100%
    ),
    url(../Img/Top-Img.jpg);
  background-position: 0% 10%;
  height: 440px;
  width: 100%;
  border-radius: 5px;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #ffffff;
}

.verified-p-container {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.verified-p-container > p {
  font-size: 1.5rem;
  font-weight: 400;
}

.verified-p-container > svg {
  color: #3d91f4;
}

.info > h1 {
  font-size: 5.5rem;
  font-weight: 600;
  margin: none;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .info {
    gap: 10px;
  }
  .info > h1 {
    font-size: 4.5rem;
  }
  .verified-p-container {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .info {
    gap: 10px;
  }
  .info > h1 {
    font-size: 4.5rem;
  }
  .verified-p-container {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .top-container {
    height: 360px;
    border-radius: 0;
  }

  .info {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .info > h1 {
    font-size: 3.3rem;
  }

  .verified-p-container > p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .info > h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .info > h1 {
    font-size: 2.5rem;
  }

  .verified-p-container > p {
    font-size: 1rem;
    font-weight: 400;
  }

  .verified-p-container > svg {
    font-size: 1.2rem;
  }
}
